@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Poppins:wght@400;500;600&family=Raleway:ital,wght@1,900&family=Roboto&family=Space+Mono&display=swap');

/* VARIABLES */
:root{
/* colors*/
--background-color: #152938;
--card-color: #ffffff;
--button-empty: #304859;
--button-color: #7191A5;
--button-color-hover: #6395B8;
--start-game: #FDA214;
--start-game-hover: #FDBA4B;
--button-color1: #DFE7EC;

/* font */
--main-font: 'Atkinson Hyperlegible', sans-serif;
}

/* GENERAL STYLES */

body {
    background-color: rgb(21, 41, 56);
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

}

.container {
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

}

.row {
    margin-bottom: 20px;
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    margin: 0 5px;
    border: none;

}

.btn-numbers {
    background-color: rgb(188, 206, 217);
    color: white;
}

.btn-icons {
    background-color: rgb(188, 206, 217);
    color: white;
}

.btn-number {
    background-color: rgb(188, 206, 217);
    color: white;
}

.btn-grid {
    background-color: rgb(188, 206, 217);
    color: white;
}

.btn-start {
    background-color: rgb(253, 162, 20);
    padding:15px;
    color: white;
}
.selected {
    background-color: rgb(21, 41, 56);
}


.title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
}

/* GAME STYLES */
.number_players{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.button_players{
    width: 4rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--button-color1);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--card-color);
    padding-top: 10px;
}

.active{
    background-color: var(--button-empty);
    cursor: default;
    pointer-events: none;
}

.grid{
    display: flex;
    justify-content: space-around;
}

.cell {
    width: 20%;
    height: 20%;
    border: 1px solid black;
}



